<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="PP.BeatMaster" android:installLocation="auto" android:versionCode="1">
	<uses-sdk android:targetSdkVersion="19" android:minSdkVersion="19" />
	<application android:label="Beat Master"></application>
</manifest>